@using HomeERP.Domain.EAV.Models
@model Guid

@using (Html.BeginForm("AddAttribute", "EAV", FormMethod.Post))
{
    <div class="modal fade" id="AddAttributeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление атрибута</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input name="EntityId" type="hidden" value="@Model" />
                    <div class="mb-3">
                        <label>Название атрибута:</label>
                        <input name="AttributeName" class="form-control" type="text" required />
                    </div>
                    <div class="mb-3">
                        <label>Тип атрибута:</label>
                        <div class="d-flex flex-row gap-3">
                            <select id="FirstSelect" class="form-select" name="AttributeType" onchange="showSecondSelect()" required>
                                <option value="Integer">Число</option>
                                <option value="String">Текст</option>
                                <option value="Date">Дата</option>
                                <option value="Link">Ссылка на объект</option>
                                <option value="File">Файл</option>
                                <option value="Float">Дробь</option>
                            </select>
                            <select id="SecondSelect" class="form-select" style="display: none;" name="Args[0]">
                                @foreach (Entity Entity in TempData["Entities"] as List<Entity>)
                                {
                                    <option value=@Entity.Id>@Entity.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function showSecondSelect() {
        const firstSelect = document.getElementById('FirstSelect');
        const secondSelect = document.getElementById('SecondSelect');

        if (firstSelect.value === 'Link') {
            secondSelect.style.display = 'block';
        } else {
            secondSelect.style.display = 'none';
        }
    }
</script>