@using HomeERP.Models.EAV.Domain
@using HomeERP.Models.EAV.DTOs.Response
@model List<Entity>

@{
    await Html.RenderPartialAsync("CreateEntity", Model);
}
<div class="d-flex justify-content-around" style="height: calc(100vh - 150px)">
    <div class="w-25 p-5 h-100">
        <div class="card w-100 h-100">
            <div class="card-header text-center" style="height:50px;">
                <h5>Сущности</h5>
            </div>
            <div class="card-body p-3 w-100 h-100 d-flex flex-column gap-1 overflow-auto">
                @foreach (var Entity in Model)
                {
                    <button id="@Entity.Id" type="button" class="btn btn-outline-primary w-100" onclick="SelectEntity(this.id)">@Entity.Name</button>
                }
            </div>
            <div class="card-footer d-flex flex-row justify-content-end p-1 gap-1" style="height:50px;">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateEntityModal">Создать</button>
                <button class="btn btn-danger" onclick="DeleteEntity()">Удалить</button>
            </div>
        </div>
    </div>
    <div class="w-75 h-100 d-flex flex-column" id="EntityExplorer">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let SelectedEntityId = null;

    $(document).ready(function() {
        var EntityId = '@TempData["EntityId"]';

        if (EntityId) {
            SelectEntity(EntityId);
        }
    });

    function SelectEntity(EntityId)
    {
        SelectedObjectId = null;
        ObjectInputs = null;
        GetEntityObjects(EntityId)
        if (SelectedEntityId != null) document.getElementById(SelectedEntityId).classList.remove("active");
        SelectedEntityId = EntityId;
        document.getElementById(SelectedEntityId).classList.add("active");
    }

    function DeleteEntity() {
        if (SelectedEntityId === null) {
            alert("Пожалуйста, выберите задачу для удаления.");
            return;
        }

        location.href = `@Url.Action("DeleteEntity", "EAV")?EntityId=` + SelectedEntityId;
    }

    function GetEntityObjects(EntityId) {
        $.ajax({
            url: `/EAV/Entity`,
            type: 'GET',
            data: { EntityId: EntityId },
            success: function (data) {
                $("#EntityExplorer").html(data);
            }
        });
    }
</script>